.hub{
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 10px;
}
.js-form{
    margin: 0 auto;
    padding:50px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: orangered;
    width: 300px;
}
.img{
    width: 300px;
    height: 600px;
}
.ggg{
    background-color: orangered;
}
.my_card {
    padding: 5px;
    margin: 100px auto;
    position: relative;
    transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
    background: orangered;
    border-radius: 20px;
    width: 400px;
  }
  
  .my_card {
    border: 4px solid #30414B;
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(15, 15, 15, 0.2)
  }
  